.button {
    display: block;
    position: relative;
    text-decoration: none;
    background-color: transparent;

    &--icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: rem(28px);
        height: rem(28px);

        padding: 0;


        &-search {
            color: $white;

            @media #{$screen-tablet} {
                color: rgba($white, 0.3);
            }
        }

        &-burger {
            @media #{$screen-tablet} {
                width: rem(48px);
                height: rem(48px);

                border: rem(1px) solid rgba(255, 255, 255, 0.45);
                border-radius: $border-radius-big;
            }
        }

        &-item {
            width: rem(56px);
            height: rem(56px);

            font-size: rem($font-size-small);
            line-height: rem(16px);
            color: $white;
        }

        &-nav {
            color: inherit;
        }

        &-actions {
            width: rem(44px);
            height: rem(44px);

            @media #{$screen-tablet} {
                width: rem(20px);
                height: rem(20px);
            }

            &-arrow {
                color: $santas-gray;
            }

            &-like {
                transition: color $transition-duration ease;

                &:hover,
                &:focus,
                &:active,
                &:focus-visible {
                    color: $red-violet;
                }
            }

            &-trash {
                transition: color $transition-duration ease;

                &:hover,
                &:focus,
                &:active,
                &:focus-visible {
                    color: $pomegranate;
                }
            }
        }

        &-pencil {
            color: $red-violet;

            transition: opacity $transition-duration ease;

            &:hover,
            &:focus,
            &:active,
            &:focus-visible {
                opacity: 0.5;
            }
        }

        &-close {
            width: rem(24px);
            height: rem(24px);

            opacity: 0.5;

            &:hover,
            &:focus,
            &:active,
            &:focus-visible {
                opacity: 1;
            }
        }
    }

    &--quantity {
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: rem(24px);

        background: $white;
        border-radius: rem($border-radius-medium);
    }

    &--simple {
        padding: rem(6px) 0;

        font-size: rem($font-size-big);
        line-height: rem(24px);
        font-weight: $font-weight-bold;

        color: $red-violet;
    }

    &--card {
        padding: 0;
    }

    &--filled {
        width: 100%;
        padding: rem(8px) rem(32px) rem(12px) rem(32px);

        font-size: rem($font-size-big);
        line-height: rem(24px);
        font-weight: $font-weight-bold;

        color: $white;
        background-color: $red-violet;

        border-radius: rem($border-radius-big);

        transition: opacity $transition-duration ease;

        &:hover,
        &:focus,
        &:active,
        &:focus-visible {
            opacity: 0.8;
        }

        &-payment {
            @media #{$screen-tablet} {
                width: rem(164px);
            }  
        }
    }

    &__line {
        width: rem(23px);
        height: rem(2px);
        background-color: $white;
        border-radius: rem(2px);

        @media #{$screen-tablet} {
            width: rem(28px);
            height: rem(4px);
        }

        &::before,
        &::after {
            content: "";

            position: absolute;
            left: 8%;
            width: rem(23px);
            height: rem(2px);
            background-color: $white;
            border-radius: rem(2px);

            @media #{$screen-tablet} {
                width: rem(28px);
                height: rem(4px);

                left: 20%;
            }
        }

        &::before {
            top: rem(5px);

            @media #{$screen-tablet} {
                top: rem(12px);
            }
        }

        &::after {
            width: rem(17px);
            bottom: rem(5px);

            @media #{$screen-tablet} {
                width: rem(28px);
                bottom: rem(12px);
            }
        }
    }

    &__text {
        margin-top: rem(6px);
    }

    &__label {
        position: absolute;
        top: rem(-2px);
        right: rem(7px);

        padding: 0 rem(4px) 0 rem(4px);

        height: rem(16px);
        min-width: rem(16px);

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: rem($font-size-tiny);
        line-height: rem(18px);
        font-weight: $font-weight-bold;

        color: $white;

        background-color: $pomegranate;

        border-radius: rem($border-radius-section);

        &--nav {
            top: rem(-4px);
            right: rem(-7px);
        }

        &--card-mini {
            top: rem(-10px);
            right: rem(-5px);
            font-weight: $font-weight-semibold;
        }
    }
}