.card {
    position: relative;

    padding-top: rem(11px);

    border-top: rem(1px) solid rgba(0, 0, 0, 0.10);

    display: grid;
    grid-template-columns: rem(80px) 1fr;
    grid-template-rows: 17% auto 25%;
    gap: 0 rem(16px);

    @media #{$screen-tablet} {
        grid-template-columns: rem(106px) 43% rem(100px) rem(108px);
        gap: 0 rem(16px);

        border: none;
    }

    @media #{$screen-tablet-sm} {
        grid-template-columns: rem(106px) 47% rem(100px) rem(108px);
    }

    @media #{$screen-tablet-md} {
        grid-template-columns: rem(106px) 52% rem(100px) rem(108px);
    }

    @media #{$screen-tablet-lm} {
        grid-template-columns: rem(106px) 55.5% rem(100px) rem(108px);
    }

    @media #{$screen-desktop} {
        grid-template-columns: rem(106px) 58.5% rem(105px) rem(108px);
    }

    &--missing {
        @media #{$screen-tablet} {
            grid-template-columns: rem(72px) 48% rem(100px) rem(130px);
        }

        @media #{$screen-tablet-sm} {
            grid-template-columns: rem(72px) 51.5% rem(100px) rem(130px);
        }

        @media #{$screen-tablet-md} {
            grid-template-columns: rem(72px) 56% rem(100px) rem(130px);
        }

        @media #{$screen-tablet-lm} {
            grid-template-columns: rem(72px) 59.2% rem(100px) rem(130px);
        }

        @media #{$screen-desktop} {
            grid-template-columns: rem(72px) 63% rem(100px) rem(130px);
        }

        &:first-child {
            @media #{$screen-tablet} {
                border-top: rem(1px) solid rgba(0, 0, 0, 0.10);
            }
        }
    }

    &--missing & {
        &__content {
            grid-row: 1 / 2;
        }

        &__title {
            @media #{$screen-tablet} {
                max-width: rem(290px);
            }
        }
    }

    &__img {
        &-pic {
            width: rem(80px);
            height: rem(106px);
            object-fit: contain;
            display: block;

            @media #{$screen-tablet} {
                width: rem(72px);
                height: rem(96px);
            }

            &--missing {
                filter: grayscale(100%);
            }
        }
    }

    &__checkbox {
        grid-row: 1 / 3;
    }

    &__price {
        position: relative;

        grid-column: 2 / -1;
        grid-row: 1 / 2;

        margin: 0;

        font-size: rem($font-size-big);
        line-height: rem(24px);
        font-weight: $font-weight-bold;

        @media #{$screen-tablet} {
            grid-column: 4 / -1;

            display: flex;
            flex-direction: column;
            align-items: flex-end;

            font-size: rem(18px);
            line-height: rem(24px);
        }

        &-current {
            letter-spacing: rem(-0.52px);

            @media #{$screen-tablet} {
                font-size: rem($font-size-huge);
                line-height: rem(24px);
            }

            &-currency {
                @media #{$screen-tablet} {
                    font-size: rem($font-size-big);
                    line-height: rem(24px);
                }
            }
        }

        &-old {
            font-size: rem($font-size-small);
            line-height: rem(16px);
            font-weight: $font-weight-regular;
            text-decoration: line-through;

            color: $santas-gray;

            border-bottom: rem(1px) dashed $santas-gray;

            cursor: pointer;
        }
    }

    &__content {
        grid-column: 2 / -1;
        grid-row: 2 / 3;

        @media #{$screen-tablet} {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: rem(8px);

        font-size: rem($font-size-medium);
        line-height: 142.857%;

        @media #{$screen-mobile-only} {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        @media #{$screen-tablet} {
            max-width: rem(250px);

            font-size: rem($font-size-big);
            line-height: rem(24px);
        }
    }

    &__color {
        margin: 0;

        font-size: rem($font-size-small);
        line-height: rem(16px);
    }

    &__size {
        margin: 0;

        position: absolute;
        left: rem(4px);
        top: rem(90px);

        width: rem(22px);
        height: rem(22px);

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: rem($font-size-medium);
        line-height: rem(20px);

        background: $white;
        border-radius: rem($border-radius-checkbox);

        @media #{$screen-tablet} {
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            height: auto;

            display: block;

            font-size: rem($font-size-small);
            line-height: rem(16px);

            background: none;
        }

        &-title {
            display: none;

            @media #{$screen-tablet} {
                display: inline;
            }
        }
    }

    &__characteristics {
        margin-bottom: rem(8px);

        display: flex;
        column-gap: rem(16px);
    }

    &__origin {
        position: relative;

        font-size: rem($font-size-small);
        line-height: rem(16px);

        color: $santas-gray;

        &-storage {
            display: block;

            margin-bottom: rem(4px);
        }

        &-company {
            display: none;

            @media #{$screen-tablet} {
                display: flex;
            }

            &-tooltip {
                margin-left: rem(6px);
            }
        }
    }

    &__footer {
        grid-column: 1 / -1;

        @media #{$screen-tablet} {
            grid-column: 3 / 4;
            grid-row: 1 / 3;
        }
    }
}