.container {
    width: 100%;

    margin-right: auto;
    margin-left: auto;

    &--header {
        $gap-container: 13px;
        max-width: rem($width-container + 2 * $gap-container);

        padding-left: rem($gap-container);
        padding-right: rem($gap-container);
    }

    &--main {
        $gap-container: 16px;
        max-width: rem($width-container + 2 * $gap-container);
        
        padding-left: rem($gap-container);
        padding-right: rem($gap-container);
    }

    &--footer {
        $gap-container: 24px;
        max-width: rem($width-container + 2 * $gap-container);
        
        padding-left: rem($gap-container);
        padding-right: rem($gap-container);
    }

    &--nav {
        $gap-container: 13px;
        max-width: rem($width-container + 2 * $gap-container);
        
        padding-left: rem($gap-container);
        padding-right: rem($gap-container);
    }
}