.content {
    background-color: $whisper;

    @media #{$screen-tablet} {
        display: grid;
        grid-template-columns: 65.5% 31%;
        column-gap: rem(33px);
    }

    @media #{$screen-desktop} {
        grid-template-columns: 66% 31.5%;
    }

    &--left {
        @media #{$screen-tablet} {
            grid-column: 1 / 2;
        }
    }

    &--right {
        @media #{$screen-tablet} {
            grid-column: 2 / -1;
            grid-row: 1 / 3;
        }
    }
}