.delivery {
    &__wrapper {
        margin-bottom: rem(12px);

        @media #{$screen-tablet} {
            margin-bottom: rem(16px);
        }
    }

    &__row {
        @media #{$screen-tablet} {
            display: grid;
            grid-template-columns: 31.2% 69%;
        }

        @media #{$screen-desktop} {
            grid-template-columns: 22% 78%;
        }

        &:not(:last-child) {
            margin-bottom: rem(15px);
        }
    }

    &__title {
        margin: 0;

        font-size: rem($font-size-big);
        line-height: rem(24px);
        font-weight: $font-weight-semibold;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__address {
        margin: 0;
        margin-bottom: rem(4px);
    }

    &__footer {
        font-size: rem($font-size-small);
        line-height: rem(16px);
    }

    &__rating {
        &-text {
            @media #{$screen-tablet} {
                margin-right: rem(5px);
            }
        }
    }

    &__cost {
        margin: 0;
    }

    &__dates {
        margin-bottom: rem(30px);

        @media #{$screen-tablet} {
            margin-bottom: rem(22px);
        }
    }

    &__list {
        @include list;

        display: flex;
        column-gap: rem(8px);

        padding-top: rem(12px);

        list-style-type: none;

        @media #{$screen-tablet} {
            padding-top: 0;
        }
    }

    &__special {
        display: flex;
        align-items: center;
        column-gap: rem(8px);

        padding: 0 rem(8px);

        @media #{$screen-tablet} {
            padding: 0;
        }

        &--background {
            padding: rem(8px) rem(8px) rem(12px) rem(8px);

            background-color: $whisper-dark;

            border-radius: rem($border-radius-big);

            @media #{$screen-tablet} {
                background-color: $whisper;
            }
        }

        &-icon {
            display: block;
            width: rem(22px);
            height: rem(22px);
            background-image: url("../images/icons/green-tick.svg");
            background-repeat: no-repeat;
        }

        &-text {
            margin: 0;

            width: 85%;

            font-size: rem($font-size-small);
            line-height: rem(16px);
        }

        &-highlight {
            color: $niagara;

            border-bottom: 1px dashed rgba($niagara, 0.20);

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__point {
        font-size: rem($font-size-small);
        line-height: rem(16px);

        color: $santas-gray;
    }

    &__rating-text {
        margin-right: rem(5px);
    }
}