.header {
    height: rem($height-header-mobile);

    position: relative;

    color: $white;

    background-color: $daisy-bush;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;

        width: 100%;
        height: rem(25px);

        background-color: $whisper;

        border-top-right-radius: rem($border-radius-large);
        border-top-left-radius: rem($border-radius-large);

        @media #{$screen-tablet} {
            height: rem(24px);
        }
    }

    @media #{$screen-tablet} {
        height: rem($height-header-desktop);
    }

    &__row {
        display: flex;
        justify-content: space-between;

        padding: rem(11px) 0 rem(46px) 0;

        @media #{$screen-tablet} {
            padding: rem(16px) 0 rem(40px) rem(11px);
        }
    }

    &__column {
        display: flex;
        align-items: center;

        &--center {
            @media #{$screen-tablet} {
                width: 60%;
            }
            @media #{$screen-desktop} {
                width: 71%;
            }
        }

        &--right {
            display: none;

            @media #{$screen-tablet} {
                display: block;
            }
        }
    }

    &__menu-button {
        margin-right: rem(20px);
    }

    &__list {
        @include list;

        padding: 0 0 0 rem(12px);

        min-width: rem(169px);
        display: flex;
        column-gap: rem(35px);

        list-style-type: none;

        @media #{$screen-desktop} {
            padding: 0 0 0 rem(9px);
        }
    }
}