.header {
    height: rem($height-header-mobile);

    position: relative;

    color: $white;

    background-color: $daisy-bush;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;

        width: 100%;
        height: rem(25px);

        background-color: $whisper;

        border-top-right-radius: rem($border-radius-large);
        border-top-left-radius: rem($border-radius-large);

        @media #{$screen-tablet} {
            height: rem(24px);
        }
    }

    @media #{$screen-tablet} {
        height: rem($height-header-desktop);
    }

    &__row {
        display: flex;
        justify-content: space-between;

        padding: rem(11px) 0 rem(46px) 0;

        @media #{$screen-tablet} {
            padding: rem(16px) rem(3px) rem(16px) rem(24px);
            display: grid;
            grid-template-columns: 20.2% 63% auto;
        }

        @media #{$screen-tablet-md} {
            grid-template-columns: 17% 70% auto;
        }

        @media #{$screen-desktop} {
            padding: rem(16px) rem(3px) rem(16px) rem(12px);
            grid-template-columns: 13% 71% auto;
        }
    }

    &__column {
        display: flex;
        align-items: center;

        &--center {
            @media #{$screen-tablet} {
                width: 94.5%;
            }

            @media #{$screen-tablet-md} {
                width: 96%;
            }

            @media #{$screen-desktop} {
                width: 100%;
            }
        }

        &--right {
            display: none;

            @media #{$screen-tablet} {
                display: block;
            }
        }
    }

    &__menu-button {
        margin-right: rem(20px);

        @media #{$screen-tablet} {
            margin-right: rem(16px);
        }
    }

    &__list {
        @include list;

        min-width: rem(169px);
        display: flex;
        column-gap: rem(35px);

        list-style-type: none;

        @media #{$screen-desktop} {
            padding: 0 0 0 rem(9px);
        }
    }
}