.header-block {
    margin-bottom: rem(8px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{$screen-tablet} {
        margin-bottom: rem(13px);
    }

    &--special {
        @media #{$screen-tablet} {
            margin-bottom: rem(6px);
        }
    }

    &__heading {
        margin: 0;

        @include title-small;

        @media #{$screen-tablet} {
            @include title-medium;
        }

        &--special {
            @media #{$screen-tablet} {
                letter-spacing: rem(-0.24px);
            }
        }
    }
}