.logo {
    font-size: rem(21px);
    line-height: rem(24px);
    font-weight: $font-weight-semibold;
    letter-spacing: rem(1.52px);
    text-transform: uppercase;

    @media #{$screen-tablet} {
       width: rem(106px);

       font-size: rem(23px);
       letter-spacing: rem(0.56px);
    }
}