.missing {
    margin-bottom: rem(22px);

    @media #{$screen-tablet} {
        margin-bottom: rem(40px);
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: rem(18px);
    }

    &__heading {
        margin: 0;

        font-size: rem($font-size-big);
        line-height: rem(24px);
        font-weight: $font-weight-semibold;
    }

    &__list {
        @include list;

        display: flex;
        flex-direction: column;
        row-gap: rem(16px);

        list-style-type: none;

        @media #{$screen-tablet} {
            row-gap: rem(20px);
        }
    }
}