.payment-card {
    display: flex;
    align-items: center;

    &__icon {
        display: block;

        margin-right: rem(8px);

        width: rem(32px);
        height: rem(24px);

        background-repeat: no-repeat;
        background-position: center;
        background-color: $whisper;

        border-radius: rem($border-radius-medium);

        &--mir {
            background-image: url("../images/icons/mir.svg");
        }

        &--visa {
            background-image: url("../images/icons/visa.svg");
        }

        &--mastercard {
            background-image: url("../images/icons/mastercard.svg");
        }

        &--maestro {
            background-image: url("../images/icons/maestro.svg");
        }
    }

    &__number {
        margin-right: rem(12px);
    }

    &--total {
        font-size: rem($font-size-small);
        line-height: rem(16px);
    }
}