.payment {
    &__wrapper {
        margin-bottom: rem(12px);

        @media #{$screen-tablet} {
            margin-bottom: rem(16px);
        }
    }

    &__card {
        margin-bottom: rem(8px);
    }

    &__description {
        margin: 0;

        font-size: rem($font-size-small);
        line-height: rem(16px);

        color: $santas-gray;
    }
}