.radio {
    position: relative;
    display: block;

    min-height: rem(24px);

    // &:not(:last-child) {
    //     margin-bottom: rem(20px);
    // }

    &__input {
        position: absolute;
    }

    &__input+&__label {
        // Text
        position: relative;
        display: inline-block;
        padding-left: $radio-size + 6;

        font-size: rem($font-size-big);
        line-height: rem(24px);

        cursor: pointer;

        // Checkbox
        &:before {
            content: "";

            position: absolute;
            display: block;
            left: rem(-2px);
            top: rem(2px);

            width: $radio-size;
            height: $radio-size;

            background: $white;

            border: rem(1px) solid rgba(0, 0, 0, 0.2);
            border-radius: $border-radius-circle;

            transition: $transition-duration-fast $transition-finction all;
        }

        // Marker
        &:after {
            content: "";

            position: absolute;
            display: block;
            top: rem(9px);
            left: rem(5px);

            width: rem(7px);
            height: rem(7px);
        }
    }

    // Checked
    &__input:checked+&__label {
        &:before {
            background-color: $red-violet;
            border: rem(1px) solid $red-violet;
        }

        &:after {
            background: $white;

            border-radius: $border-radius-circle;
        }
    }

    // Disabled
    &__input:disabled+&__label {
        cursor: default;

        &:before {
            background: $santas-gray;
        }

        &:after {
            border-color: transparent;
        }
    }

    // Disabled Checked
    &__input:checked:disabled+&__label {
        &:after {
            background: #474748;
        }
    }
}