.selection {
    &__header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-bottom: rem(10px);

        border-bottom: rem(1px) solid rgba(0, 0, 0, 0.10);
    }

    &__heading {
        display: none;

        margin: 0;

        font-size: rem($font-size-big);
        line-height: rem(24px);
        font-weight: $font-weight-semibold;

        &--active {
            display: block
        }
    }

    &__checkbox {
        &--hidden {
            display: none
        }
    }

    &__list {
        @include list;

        display: flex;
        flex-direction: column;
        row-gap: rem(15px);

        list-style-type: none;

        @media #{$screen-tablet} {
            row-gap: rem(20px);
        }

        &--hidden {
            display: none;
        }
    }
}