.tabs {
    height: 100%;
    transition: $transition-duration $transition-finction;

    &__list {
        @include list;

        margin-bottom: rem(24px);

        display: flex;
        align-items: center;
        column-gap: rem(8px);

        list-style-type: none;

        text-align: center;
    }

    &__item {
        width: 50%;
        padding: rem(9px) 0 rem(11px) 0;

        font-size: rem($font-size-small);
        line-height: rem(16px);
        font-weight: $font-weight-bold;
        
        color: $black;
        border: rem(2px) solid rgba($red-violet, 0.15);
        border-radius: rem($border-radius-large);

        cursor: pointer;

        &--active {
            border: rem(2px) solid $red-violet;
        }
    }

    &__block {
        display: none;

        &--active {
            display: block;
        }
    }
}