.tooltip {
    position: fixed;

    width: rem(288px);
    min-height: rem(56px);

    padding: rem(10px) rem(16px) rem(14px) rem(16px);

    font-size: rem($font-size-small);
    line-height: rem(16px);

    color: $black;

    background-color: $white;

    border-radius: rem($border-radius-big);

    box-shadow: $box-shadow-double;

    z-index: 5;

    &__heading {
        margin: 0;
        font-weight: $font-weight-bold;
    }

    &__description {
        margin: 0;
        margin-top: rem(8px);
    }

    &--company {
        display: none;

        position: absolute;

        width: rem(280px);
        min-height: rem(104px);
    }

    &--price {
        display: none;

        position: absolute;

        left: rem(-35px);

        min-width: rem(239px);
        max-width: rem(250px);
        min-height: rem(64px);

        font-weight: $font-weight-regular;

        @media #{$screen-tablet} {
            bottom: rem(-70px);
            left: rem(-120px);
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: rem(8px);
        }
    }

    &__text {
        color: $santas-gray;
    }
}